*{
    font-family: Roboto, serif;
}

.big_box {
    position: relative;
    background-image: url("img/03_Team4Talent_Brand-mark-768x673.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Add any other styles for your .big_box element here */
}

.big_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.one_line{
    display: flex;
    align-items: center;
}
.rocks{
    margin-top: -100px;
    z-index: 1;
    display: flex;
    justify-content: start;
    background: #f2f2f2;
    width: 450px;
    height: 80px;
}
.login_box{
    margin-bottom: 100px;
    z-index: 1;
    box-shadow: none;
}
.logo{
    width: 90px;
}
.blue{
    width: 108px;
    height: 32px;
}
.rocks_text{
    margin: 30px 0 0 30px ;
}
.pijl:hover{
    cursor: pointer;
}